@media (max-width: 575.98px) {
	
}



.mediaViewInfo {
	--web-view-name: Call to Action;
	--web-view-id: Call_to_Action;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Call_to_Action;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

.early-access{
	color: #AD748E !important;
}

.form-inline{
	width: 90%;
}

#Call_to_Action {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Call to Action;
	--web-view-id: Call_to_Action;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#CTA_ {
	position: absolute;
	width: 1098px;
	height: 600px;
	left: 411px;
	top: 240px;
	overflow: visible;
}
#Interested_to_Know_More__ {
	position: absolute;
	left: 135px;
	top: 0px;
	overflow: visible;
	width: 829px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(51,51,51,1);
}
#Sign_Up_for_Early_Access {
	position: absolute;
	left: 170px;
	top: 118px;
	overflow: visible;
	width: 759px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(244,13,48,1);
}
#Sign_Up_Button {
	position: absolute;
	width: 796px;
	height: 99px;
	left: 151px;
	top: 501px;
	overflow: visible;
}
#Input_Email {
	position: absolute;
	width: 526px;
	height: 99px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 526px;
	height: 99px;
	left: 0px;
	top: 0px;
}
#Email_address {
	position: absolute;
	left: 50px;
	top: 26px;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
#Sign_Up_Button_b {
	position: absolute;
	width: 270px;
	height: 99px;
	left: 526px;
	top: 0px;
	overflow: visible;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 270px;
	height: 99px;
	left: 0px;
	top: 0px;
}
#Join_Us {
	position: absolute;
	left: 70px;
	top: 28px;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#We_dream_of_a_world_where_peop {
	position: absolute;
	left: 0px;
	top: 236px;
	overflow: visible;
	width: 1099px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(51,51,51,1);
}
/* below is custom */

.logo {
	font-family: 'Montserrat', sans-serif;
	/*color: #F40D30 !important;*/
	color: #F40D30 !important;
	font-weight: bold;
	font-size: 2.5rem;
}

.container-fluid{
	padding: 0 !important;
}


body {
	background-color: #EFF1ED;
}

h1 {
	font-size: 3rem;
}

h2{
	font-size: 2rem;
}


h3 {
	font-family: 'Montserrat';
	color: #AD748E;
}

.header-left-side{
	/*padding-top: 2% !important;*/
	padding-left: 2% !important;
}



.text-header{
	font-family: 'Montserrat', sans-serif;
	color: #EFF1ED !important;
	font-weight: bold !important;
}

.text-body{
	font-family: 'Open Sans', sans-serif;
	color: #333333 !important;
	font-weight: normal;
	/*margin-top: 2%;*/
}

.cta-text{
	font-family: 'Open Sans', sans-serif;
	color: #333333 !important;
	font-weight: normal;
}

.email-add{
	background-color: #C8C8C8;
	color: #666666;
	/*padding-top: 2%;*/
	/*padding-bottom: 2%;*/
	border-radius: 3px;
	flex-grow: 9;
}

::placeholder{
	font-size: 0.9rem;
}

input:focus{
	outline-color: #F40D30;
}

.sign-up-button{
	background-color: #F40D30;
	border: none;
	/*flex-grow: 1;*/
	color: white;
	border-radius: 3px;
	/*max-width: 80%*/
/*	padding-left: 10%;
	padding-right: 10%;*/
}

.our-features{
	font-family: 'Montserrat';
	/*font-weight: bold;*/
	color: #1E1922;
}

.sign-up-button:hover{
	background-color: #dc0c2b;
	border: none !important;
	outline: none !important;
}

.sign-up-button:active{
	background-color: #f52545 !important;
	border: none !important;
	outline: none !important;

}

.sign-up-button:focus{
	border: none !important;
	background-color: #F40D30;
	/*box-shadow: 0 0 5px #92081d;*/
	outline: 0;
}

.sign-up-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold !important;
	margin: 0;
	font-size: 1rem;
	white-space: nowrap;
}

.sign-up-text-footer{
	color: #F63D59;
}

.text-header-body-1{
	font-family: 'Montserrat', sans-serif;
	color: #1E1922 !important;
	font-weight: bold !important;
}

.text-description-body-1{
	font-family: 'Open Sans', sans-serif;
	color: #1E1922 !important;
	font-size: 20px;
	font-weight: normal;
	margin-top: 2%;
}

.body-1-right-side{
	padding-top: 2% !important;
	padding-left: 2% !important;
	padding-right: 1% !important;
}

.body-2-left-side{
	padding-top: 2% !important;
	padding-left: 2% !important;
	padding-right: 1% !important;
}

body, html{
	box-sizing: border-box;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover{
	text-decoration: none;
	color: inherit;	
}

* {
	box-sizing: inherit;
}


.footer-cta{
	/*height: 100vh;*/
	background-color: #1E1922;
}

.text-footer-header-3{
	font-family: 'Montserrat', sans-serif;
	color: #EFF1ED;
}

.text-footer-header-4{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	color: #EFF1ED;
}

.text-footer-header-2{
	font-family: 'Montserrat', sans-serif;
	color: #AD748E;
	margin-top:2%;
	margin-bottom:2%;
}

.text-footer-header-1{
	font-family: 'Montserrat', sans-serif;
	color: #AD748E;
}

.text-footer-text-1{
	font-family: 'Open Sans', sans-serif;
	padding-right: 25%;
	padding-left: 25%;
}

.sign-up-box-footer{
	margin-top: 2%;
	width: 50%;
}

.sign-up-button-footer{
	background-color: #F40D30;
	border: 1px solid white;
	flex-grow: 3;
	color: white;
	border-radius: 3px;
}


.sign-up-button-footer:hover{
	/*border: 2px solid white;*/
/*	outline-style: solid;
	outline-width: 2px;
	outline-color: white;*/
	box-shadow: 0 0 0 1px white;
}

.sign-up-button:active{
	background-color: #f52545 !important;
	border: none !important;
	outline: none !important;
}

.text-about-text-1{
	/*margin-top: 2%;*/
	color: #EFF1ED;
	font-family: Open Sans;
	font-size: 1rem;
}



/*.text-about-header-2{
	margin-top: 8%;
}
*/
.divider{
	background-color: #F40D30;
	height: 10vh;
}

#navbar{
	background-color: #EFF1ED;
	position: fixed;
	top: -50%;
	width: 100%;
	transition: top 0.3s;
	z-index: 10000;
	box-shadow: 0px 1px 10px #d3d3d3;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*.logo-navbar{
	margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 1%;

}*/

.page-header{
	background-color: #1E1922;

}

h4 {
	/*text-align: justify-all;*/
}

.solution{
	width: 100%;
}


/* Add a hover effect if you want */
.fab:hover {
  opacity: 0.7;
  text-decoration: none;
}

.fab {
	color: #EFF1ED;
}

.red-color{
	color: #F40D30 !important;
}

.feature-img{
	box-shadow: 4px 4px 10px #757575;
}

.email-icon{
	color : #333333;
}

.email-icon:hover{
	color: #1e90ff;
	text-decoration: none;
}

.thank-you-body{
	height: 100vh;
}

.fas{
	color: #EFF1ED;
}

.manual-sharing{
	background-color: #eeeef0;
	font-family: Roboto Mono, monospace;
    white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}